/* h1 {
    color: #481620;
}

button {
    color: #481620;
    background-color:#0075A2;
}

body {
    background-color: #ADF5FF;
} */

* {
    color: blueviolet;
}

#box {
    background-color:blanchedalmond;
}

.heading {
    color: red;
}

button {
    background-color: green;
}

p {
    text-align: right;
    text-decoration: line-through;
}

#h1 {
    font-weight: normal;
}

#h2 {
    font-weight: bold;
}

#h3 {
    font-weight: bolder;
}

#h4 {
    font-weight: lighter;
}

