/* h1 {
    color: #481620;
}

button {
    color: #481620;
    background-color:#0075A2;
}

body {
    background-color: #ADF5FF;
} */

* {
    color: blueviolet;
}

h1 {
    text-align: center;
}

#box {
    background-color:blanchedalmond;
}

.heading {
    color: red;
}

button {
    background-color: rgb(159, 190, 159);
}

p {
    text-align: center;
    line-height: 30px;
}

#h1 {
    font-weight: normal;
}

#h2 {
    font-weight: bold;
}

#h3 {
    font-weight: bolder;
}

#h4 {
    font-weight: lighter;
}

#p1 {
    font-size: 20px;
}

#p2 {
    font-size: 23px;
}

#p3 {
    font-size: 8px;
}

